<p id="notice"><%= notice %></p>

<h1>Account Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Bank account</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_transactions.each do |account_transaction| %>
      <tr>
        <td><%= account_transaction.bank_account %></td>
        <td><%= account_transaction.points %></td>
        <td><%= link_to 'Show', account_transaction %></td>
        <td><%= link_to 'Edit', edit_account_transaction_path(account_transaction) %></td>
        <td><%= link_to 'Destroy', account_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account Transaction', new_account_transaction_path %>
