<%= form_with(model: appreciation, local: true) do |form| %>
  <% if appreciation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appreciation.errors.count, "error") %> prohibited this appreciation from being saved:</h2>

      <ul>
      <% appreciation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :appreciation_user_id %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points, id: :appreciation_points %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token, id: :appreciation_token %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
