<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appreciation.user.email %>
</p>

<p>
  <strong>Points:</strong>
  <%= @appreciation.points %>
</p>

<p>
  <strong>Token:</strong>
  <%= @appreciation.token %>
</p>

<p>
  <strong>Given:</strong>
  <%= @appreciation.given %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to give_appreciation_url(@appreciation), @appreciation.url %>
</p>

<p>
  <strong>QR Code:</strong>
  <%= raw @appreciation.qr_code %>
</p>

<%= link_to 'Edit', edit_appreciation_path(@appreciation) %> |
<%= link_to 'Back', appreciations_path %>
