<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appreciation.user.email %>
</p>

<p>
  <strong>Points:</strong>
  <%= @appreciation.points %>
</p>

<p>
  <strong>Token:</strong>
  <%= @appreciation.token %>
</p>

<p>
  <strong>Given:</strong>
  <%= @appreciation.given %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to give_appreciation_url(@appreciation.token), @appreciation.url %>
</p>

<p>
  <strong>QR Code:</strong>
  <img src="<%= @appreciation.qr_code %>"></img>
</p>
